<table class="table threads">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Actions Played</th>
      <th>Friend</th>
    </tr>
  </thead>

  <tbody>
    <%- threads.each do |thread| %>
      <tr>
        <td><%= thread.title %></td>
        <td>todo</td>
        <td>todo</td>
        <td>todo</td>
      </tr>
    <%- end %>
  </tbody>
</table>
