<h2 class="page-heading">Music Guide</h2>

<h3 class="section-heading">Introduction</h3>

<p>The goal of this guide is to help you when playing around in <strong>boop</strong>. If you're completely new to music, this is the place to be! The software is meant to guide you as you use it, so this is less about the software and more about the <em>music</em>.</p>

<hr>

<h3 class="section-heading">Getting Started</h3>